/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
body {
  background: url("/assets/bg.jpg") repeat fixed;
  background-size: 100%;
  margin: 0px auto;
}
